---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Aside from "../components/aside.astro";
import CodeCard from "../components/codecard.astro";
import NanoCard from "../components/nanocard.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
		<title>First Steps: Scripting - Bash Programming</title>
	</head>
	<body>
		<input type="checkbox" id="toggle-menu" hidden>
		<Header />
		<Aside />
		<main>
            <section class="home-section">
                <h1>A better "Hello, World!"</h1>
                <p>That script was, to put it mildly, bare-bones. Every program, even a one-liner, should include documentation. At minimum, record the author, the date, and a brief description of what the command does. Open bin/hw in your text editor and add the information shown in Listing 1-1 as comment lines.</p>
                <CodeCard command={['nano bin/hw']} output={['']} />
                <NanoCard
                    filename="hw"
                    content={['#!/usr/bin/env bash', '', '#: Title: hw', '#: Date: 2025-08-10', '#: Author: \"Bruno Victoria\" <brunovv158@gmail.com>', '#: Version: 1.0', '#: Description: print \"Hello, World!\"', '#: Options: None', '','printf \"%s\\n\" \"Hello, World!\" !\"']}
                    modified={false}
                />
                <p>Comments in Bash start with an octothorpe (hash, #) and run to the end of the line. The shell ignores them entirely. They don’t have to be at the beginning of a word—only outside quotes and not escaped. Many people adopt a convention of tagging comments (e.g., <span class="bash-dir"># TODO:, # NOTE:, # WARN:</span>) so they can search for specific types later and skip the rest.</p>

        </main>
        <Footer />
	</body>
</html>